<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{% block title %}{{ config.project.name | default('Dashboard') }}{% endblock %}</title>
  
  <link rel="icon" type="image/png" href="/static/favicon.ico" />
  <!-- CSS -->
  <link rel="stylesheet" href="/static/src/output.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.css" />
  <!-- Scripts -->
  <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.13.3/dist/cdn.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <script>
    window.DASH_BASE = '{{ dashBase | default("/dashboard") }}';
  </script>
  {% block head %}{% endblock %}
</head>
<body x-data="{ 
    page: '{% block active_page %}Dashboard{% endblock %}', 
    loaded: true, 
    darkMode: $persist(false), 
    sidebarToggle: false, 
    selected: '{% block selected_menu %}Dashboard{% endblock %}',
    trans: {{ translations | default('{}') | safe }},
    perms: {{ permissions | default('{}') | safe }}
  }" 
  :class="{'dark bg-gray-900': darkMode === true}">
  {% include 'html/partials/sidebar.html.j2' %}
  <div class="flex h-screen overflow-hidden">
    <!-- Sidebar Placeholder for Layout Balance -->
    <div class="hidden lg:block lg:w-[290px]"></div>
    <div class="relative flex flex-col flex-1 overflow-x-hidden overflow-y-auto">
      {% include 'html/partials/header.html.j2' %}
      <main>
        <div class="p-4 mx-auto max-w-screen-2xl md:p-6">
          {% block content %}{% endblock %}
        </div>
      </main>
    </div>
  </div>
  <!-- Footer Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts@3.44.0/dist/apexcharts.min.js"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
