 {{if eq .Status "pending"}}
      <p
        class="bg-yellow-50 text-xs text-yellow-600 dark:bg-yellow-500/15 dark:text-yellow-400 rounded-full px-2 py-0.5 font-medium" x-text="trans.pending"></p>
      {{else if eq .Status "processing"}}
      <p
        class="bg-blue-50 text-xs text-blue-600 dark:bg-blue-500/15 dark:text-blue-400 rounded-full px-2 py-0.5 font-medium" x-text="trans.processing"></p>
      {{else if eq .Status "delivered"}}
      <p
        class="bg-green-50 text-xs text-green-600 dark:bg-green-500/15 dark:text-green-500 rounded-full px-2 py-0.5 font-medium" x-text="trans.delivered"></p>
      {{else if eq .Status "cancelled"}}
      <p
        class="bg-red-50 text-xs text-red-600 dark:bg-red-500/15 dark:text-red-400 rounded-full px-2 py-0.5 font-medium" x-text="trans.cancelled"></p>
      {{else}}
      <p
        class="bg-gray-50 text-xs text-gray-600 dark:bg-gray-500/15 dark:text-gray-400 rounded-full px-2 py-0.5 font-medium" x-text="trans.unknown"></p>
{{end}} 
{{if eq .HasTwo "true"}}
<div id="DeliveryStatus-Detail-{{.id}}" hx-swap-oob="innerHTML">
    {{if eq .Status "pending"}}

          <span
            class="bg-warning-50text-warning-600 dark:bg-warning-500/15 dark:text-warning-400 rounded-full   inline-flex items-center justify-center gap-1 rounded-full px-2.5 py-0.5 text-sm font-medium" x-text="trans.pending"></span>

          {{else if eq .Status "processing"}}

          <span
            class="bg-blue-50 text-xs text-blue-600 dark:bg-blue-500/15 dark:text-blue-400 rounded-full   inline-flex items-center justify-center gap-1 rounded-full px-2.5 py-0.5 text-sm font-medium" x-text="trans.processing"></span>
          {{else if eq .Status "delivered"}}

          <span
            class="bg-success-50 text-xs text-success-600 dark:bg-success-500/15 dark:text-success-500 rounded-full   inline-flex items-center justify-center gap-1 rounded-full px-2.5 py-0.5 text-sm font-medium" x-text="trans.delivered"></span>
          {{else if eq .Status "cancelled"}}

          <span
            class="bg-error-50 text-xs text-error-600 dark:bg-error-500/15 dark:text-error-400 rounded-full   inline-flex items-center justify-center gap-1 rounded-full px-2.5 py-0.5 text-sm font-medium" x-text="trans.cancelled"></span>
          {{else}}

          <span
            class="bg-gray-50 text-xs text-gray-600 dark:bg-gray-500/15 dark:text-gray-400 rounded-full   inline-flex items-center justify-center gap-1 rounded-full px-2.5 py-0.5 text-sm font-medium" x-text="trans.unknown"></span>
          {{end}}
</div>
{{end}}