<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{.trans.five_zero_zero_error_page}}</title>
  <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>  <link rel="stylesheet" href="/static/src/output.css" />

  </head>
  <body
      x-data="{ page: 'Login', 'loaded': true, 'darkMode': false, 'stickyMenu': false, 'sidebarToggle': false, 'scrollTop': false }"
    x-init="
         darkMode = JSON.parse(localStorage.getItem('darkMode'));
         $watch('darkMode', value => localStorage.setItem('darkMode', JSON.stringify(value)))"
    :class="{'dark bg-gray-900': darkMode === true}"
  >
    <!-- ===== Preloader Start ===== -->
      {{template "superadmin/partials/preloader" }}

    <!-- ===== Preloader End ===== -->

    <!-- ===== Page Wrapper Start ===== -->
    <div
      class="relative z-1 flex min-h-screen flex-col items-center justify-center overflow-hidden p-6"
    >
      <!-- ===== Common Grid Shape Start ===== -->
    

      <!-- ===== Common Grid Shape End ===== -->

      <!-- Centered Content -->
      <div class="mx-auto w-full max-w-[242px] text-center sm:max-w-[472px]">
        <h1
          class="mb-8 text-title-md font-bold text-gray-800 dark:text-white/90 xl:text-title-2xl"
        >{{.trans.error}}</h1>

        <img
          src="/static/image/500.svg"
          alt="500"
          class="dark:hidden"
        />
        <img
          src="/static/image/500-dark.svg"
          alt="500"
          class="hidden dark:block"
        />

        <p
          class="mb-6 mt-10 text-base text-gray-700 dark:text-gray-400 sm:text-lg"
        >{{.trans.we_cant_seem_to_find_the_page_you_are_looking_for}}</p>

      
      </div>
      <!-- Footer -->
      <p
        class="absolute bottom-6 left-1/2 -translate-x-1/2 text-center text-sm text-gray-500 dark:text-gray-400"
      >
        © <span id="year">2025</span> - {{.trans.lemly}}
      </p>
    </div>

    <!-- ===== Page Wrapper End ===== -->
   

   <script
      defer
      src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.13.3/dist/cdn.min.js"
    ></script>
  </body>
</html>
