<div class="p-5 border-t border-gray-100 dark:border-gray-800 sm:p-6">
    <!-- ====== Dynamic Table Start ===== -->
    <!-- Loading indicator for table -->

    <!-- Table will be loaded here -->

    <!-- Complete table that replaces the existing table structure -->
    <div class="overflow-hidden rounded-2xl border border-gray-200 bg-white dark:border-gray-800 dark:bg-white/[0.03]">
        <div class="max-w-full overflow-x-auto custom-scrollbar">
            <table class="min-w-full">
                <!-- table header start -->
                <thead class="border-gray-100 border-y bg-gray-50 dark:border-gray-800 dark:bg-gray-900">
                    <tr>
                        <th class="px-6 py-3 whitespace-nowrap">
                            <div class="flex items-center">
                                <p class="font-medium text-gray-500 text-xs dark:text-gray-400" x-text="trans.order_id"></p>
                            </div>
                        </th>

                        <th class="px-6 py-3 whitespace-nowrap">
                            <div class="flex items-center">
                                <div class="flex items-center gap-3">
                                    <div>
                                        <span class="block font-medium text-gray-500 text-xs dark:text-gray-400" x-text="trans.customer"></span>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th class="px-6 py-3 whitespace-nowrap">
                            <div class="flex items-center">
                                <p class="font-medium text-gray-500 text-xs dark:text-gray-400" x-text="trans.shopping_trip"></p>
                            </div>
                        </th>
                        <th class="px-6 py-3 whitespace-nowrap">
                            <div class="flex items-center">
                                <p class="font-medium text-gray-500 text-xs dark:text-gray-400" x-text="trans.basket_total"></p>
                            </div>
                        </th>
                        <th class="px-6 py-3 whitespace-nowrap">
                            <div class="flex items-center">
                                <p class="font-medium text-gray-500 text-xs dark:text-gray-400" x-text="trans.commission"></p>
                            </div>
                        </th>
                        <th class="px-6 py-3 whitespace-nowrap">
                            <div class="flex items-center">
                                <p class="font-medium text-gray-500 text-xs dark:text-gray-400" x-text="trans.receipt_status"></p>
                            </div>
                        </th>
                        <th class="px-6 py-3 whitespace-nowrap">
                            <div class="flex items-center">
                                <p class="font-medium text-gray-500 text-xs dark:text-gray-400" x-text="trans.delivery_status"></p>
                            </div>
                        </th>
                        <th class="px-6 py-3 whitespace-nowrap">
                            <div class="flex items-center">
                                <p class="font-medium text-gray-500 text-xs dark:text-gray-400" x-text="trans.date"></p>
                            </div>
                        </th>
                        <th class="px-6 py-3 whitespace-nowrap">
                            <div class="flex items-center justify-center">
                                <p class="font-medium text-gray-500 text-xs dark:text-gray-400" x-text="trans.action"></p>
                            </div>
                        </th>
                    </tr>
                </thead>
                <!-- table header end -->

                <!-- table body start -->
                <tbody class="divide-y divide-gray-100 dark:divide-gray-800" id="orders-table-container"></tbody>
                <tbody class="divide-y divide-gray-100 dark:divide-gray-800 " x-show="loadingMoreOrder">
                    {{template "shared/table_loading" }}
                </tbody>
                <tbody class="divide-y divide-gray-100 dark:divide-gray-800 "
                    x-show="hasMoreOrders && !loadingMoreOrder">
                    <tr>
                        <td colspan="9" class="px-6 py-6 text-center">
                            <div class="flex flex-Row items-center justify-center ">
                                <button @click="loadOrderTable()"
                                    class="h-10 px-3 text-sm font-medium text-gray-600 bg-gray-50 hover:bg-gray-100 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 rounded-lg transition-colors duration-200 flex items-center gap-1.5">
                                    <span x-text="trans.load_more"></span>
                                </button>
                            </div>
                        </td>
                    </tr>


                </tbody>

            </table>
        </div>
    </div>
    <!-- ====== Dynamic Table End ===== -->
</div>