<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="icon" type="image/png" href="/static/favicon.ico" />

  <title>Superadmin Dashboard</title>
  <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.13.3/dist/cdn.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.css" />

  <link rel="stylesheet" href="/static/src/output.css" />
  <script>
    window.DASH_BASE = '{{.dashBase}}';
  </script>

</head>

<body x-data="{ page: 'Dashboard', 'loaded': true, 'darkMode': false, 'stickyMenu': false, 'sidebarToggle': false, 'scrollTop': false , selected: 'Dashboard',
      trans:{{.trans}},
      perms:{{.perms}},
        loadingStats: false,
      tabselected:'info',
        data: {{.data}},
        orderStats: {{.orderStats}},
        ...userTableData()

  }" x-init="
         darkMode = JSON.parse(localStorage.getItem('darkMode'));
         $watch('darkMode', value => localStorage.setItem('darkMode', JSON.stringify(value)))"
  :class="{'dark bg-gray-900': darkMode === true}">
  <!-- ===== Preloader Start ===== -->

  {{template "superadmin/partials/preloader" }}

  <!-- ===== Preloader End ===== -->

  <!-- ===== Page Wrapper Start ===== -->
  <div class="flex h-screen overflow-hidden">
    <!-- ===== Sidebar Start ===== -->
    <!-- ===== Sidebar End ===== -->
    {{template "superadmin/partials/sidebar" . }}

    <!-- ===== Content Area Start ===== -->
    <div class="relative flex flex-col flex-1 overflow-x-hidden overflow-y-auto">
      <!-- Small Device Overlay Start -->
      <!-- Small Device Overlay End -->
      {{template "superadmin/partials/overlay" }}

      <!-- ===== Header Start ===== -->
      <!-- ===== Header End ===== -->
      {{template "superadmin/partials/header" . }}

      <!-- ===== Main Content Start ===== -->
      <main>
        <div class="p-4 mx-auto max-w-(--breakpoint-2xl) md:p-6">

          <!-- Breadcrumb -->


          <!-- Content -->
          <div class="space-y-6 mt-2">

            <!-- User Info Section -->
            <div class="flex flex-wrap items-center justify-between gap-3 pb-6">
              <div class="2xsm:gap-3 flex items-center gap-2">

                <h2 x-show="tabselected === 'info'" class="text-xl font-semibold text-gray-800 dark:text-white/90">
                  Dashboard</h2>
                <h2 x-show="tabselected === 'stats'" class="text-xl font-semibold text-gray-800 dark:text-white/90"
                  x-text="trans.stats"></h2>
              </div>

              <div class="flex items-center rounded-lg bg-gray-100 p-0.5 dark:bg-gray-900" style="width: 22.5%;">
                <button @click="tabselected = 'info'"
                  :class="tabselected === 'info' ? 'shadow-theme-xs text-gray-900 dark:text-white bg-white dark:bg-gray-800' : 'text-gray-500 dark:text-gray-400'"
                  class="text-theme-sm w-full rounded-md px-6 py-2 font-medium hover:text-gray-900 dark:hover:text-white"
                  x-text="trans.user_info"></button>
                <button @click="tabselected = 'stats'"
                  :class="tabselected === 'stats' ? 'shadow-theme-xs text-gray-900 dark:text-white bg-white dark:bg-gray-800' : 'text-gray-500 dark:text-gray-400'"
                  class="text-theme-sm w-full rounded-md px-3 py-2 font-medium hover:text-gray-900 dark:hover:text-white"
                  x-text="trans.stats"></button>

              </div>
            </div>


            <div x-show="tabselected === 'info'">
              {{template "superadmin/partials/dashboard/info-section" . }}
            </div>


            <!-- Stats Section -->
            <div x-show="tabselected === 'stats'">
              {{template "superadmin/partials/dashboard/stats-section" . }}
            </div>

            <!-- Request Section -->


          </div>
        </div>
      </main>
      <!-- ===== Main Content End ===== -->
    </div>
    <!-- ===== Content Area End ===== -->
  </div>
  <!-- ===== Page Wrapper End ===== -->

  <!-- Alpine.js -->

  <!-- Flatpickr -->
  <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts@3.44.0/dist/apexcharts.min.js"></script>

  <!-- JSVectorMap World Map Data -->
  <script src="/static/superadmin/js/base.js"></script>
  <script src="/static/superadmin/js/index.js"></script>


  <!-- Your static JavaScript files (load these before your main script) -->

</body>

</html>