<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="icon" type="image/png" href="/static/favicon.ico" />

  <title>Orders | Superadmin</title>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.css" />

  <link rel="stylesheet" href="/static/src/output.css" />
  {{$data := dict "ShowStreamer" true}}
<script>
  window.DASH_BASE='{{.dashBase}}';
</script>

</head>

<body x-data="{ 
        page: 'Orders', 
        'loaded': true, 
    
        'darkMode': false, 
        'stickyMenu': false, 
        'sidebarToggle': false, 
        'scrollTop': false, 
        selected: 'Inventory',
        trans:{{.trans}},
      perms:{{.perms}},
        ...orderTableData(),
       
    }" x-init="

         darkMode = JSON.parse(localStorage.getItem('darkMode'));
         $watch('darkMode', value => localStorage.setItem('darkMode', JSON.stringify(value)));
         " :class="{'dark bg-gray-900': darkMode === true}">
  <!-- ===== Preloader Start ===== -->
  {{template "superadmin/partials/preloader" }}

  <!-- ===== Page Wrapper Start ===== -->
  <div class="flex h-screen overflow-hidden">
    <!-- ===== Sidebar Start ===== -->
    {{template "superadmin/partials/sidebar" . }}
    <!-- ===== Sidebar End ===== -->

    <!-- ===== Content Area Start ===== -->
    <div class="relative flex flex-col flex-1 overflow-x-hidden overflow-y-auto">
      <!-- Small Device Overlay Start -->
      {{template "superadmin/partials/overlay" }}
      <!-- Small Device Overlay End -->

      <!-- ===== Header Start ===== -->
      {{template "superadmin/partials/header" .}}
      <!-- ===== Header End ===== -->

      <!-- ===== Main Content Start ===== -->
      <main>
        <div x-show="isOrderDetailsModalOpen">
          <div x-show="isOrderDetailsModalOpen && isLoading">
            {{template "shared/order-details-loading" }}
          </div>
          <div id="order-details-page"></div>
        </div>
        <div x-show="!isOrderDetailsModalOpen" class="p-4 mx-auto max-w-(--breakpoint-2xl) md:p-6">
          <div class="space-y-5 sm:space-y-6">
            <div class="rounded-2xl border border-gray-200 bg-white dark:border-gray-800 dark:bg-white/[0.03]">
              <div class="px-5 py-4 sm:px-6 sm:py-5">
                <!-- Single Row with Title, orderfilters, and Search -->
                <div class="flex flex-wrap items-center justify-between gap-4">
                  <!-- Title -->
                  <div>
                    <h3 class="text-lg font-semibold text-gray-800 dark:text-white/90" x-text="trans.orders_management"></h3>
                  </div>

                  {{template "superadmin/partials/order/order-filter" $data }}

                </div>
              </div>
              {{template "superadmin/partials/order/order-table-view" $data }}
            </div>
          </div>
        </div>
      </main>
      <!-- ===== Main Content End ===== -->
    </div>
    <!-- ===== Content Area End ===== -->
  </div>
  <!-- ===== Page Wrapper End ===== -->
  <!-- Update Status Modal -->
  {{template "superadmin/partials/order/order_models" . }}

  <!-- Hidden form for orderfilters -->
  <form name="orderfilters" style="display: none">
    <input type="hidden" name="receipt_status" :value="orderfilters.receipt_status" />
    <input type="hidden" name="delivery_status" :value="orderfilters.delivery_status" />

    <input type="hidden" name="sort_by" :value="orderfilters.sort_by" />
    <input type="hidden" name="sort_order" :value="orderfilters.sort_order" />
    <input type="hidden" name="limit" :value="orderpagination.limit" />
    <input type="hidden" name="offset" :value="orderpagination.offset" />
    <input type="hidden" name="search" :value="orderfilters.search" />
    <input type="hidden" name="placed_from" :value="orderfilters.placed_from" />
    <input type="hidden" name="placed_to" :value="orderfilters.placed_to" />
    <input type="hidden" name="_csrf" value="{{.csrfToken}}" />
  </form>

  <script>


  </script>

  <!-- Alpine.js -->


  <!-- Flatpickr -->
  <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.js"></script>

  <script src="/static/superadmin/js/base.js"></script>
  <script src="/static/superadmin/js/orders.js"></script>
</body>

</html>