package fcm

import (
	"context"
	"fmt"
	"log"

	"{{ config.project.module }}/config"

	firebase "firebase.google.com/go/v4"
	"firebase.google.com/go/v4/messaging"
)

func SendPushNotification(token string, title, body string, data map[string]string) error {
	if config.FCM == nil {
		return fmt.Errorf("FCM app not initialized")
	}

	client, err := config.FCM.Messaging(context.Background())
	if err != nil {
		return fmt.Errorf("failed to get messaging client: %w", err)
	}

	message := &messaging.Message{
		Notification: &messaging.Notification{
			Title: title,
			Body:  body,
		},
		Data:  data,
		Token: token,
	}

	_, err = client.Send(context.Background(), message)
	if err != nil {
		return fmt.Errorf("failed to send FCM message: %w", err)
	}

	return nil
}


func SendToDevice(app *firebase.App, deviceToken string, title string, body string) error {
	ctx := context.Background()
	client, err := app.Messaging(ctx)
	if err != nil {
		return err
	}

	message := &messaging.Message{
		Notification: &messaging.Notification{
			Title: title,
			Body:  body,
		},
		Token: deviceToken,
	}

	response, err := client.Send(ctx, message)
	if err != nil {
		return err
	}

	log.Printf("Successfully sent message: %v", response)
	return nil
}

func SendToMultipleDevices(app *firebase.App, tokens []string, title string, body string) error {
	ctx := context.Background()
	client, err := app.Messaging(ctx)
	if err != nil {
		return err
	}

	message := &messaging.MulticastMessage{
		Notification: &messaging.Notification{
			Title: title,
			Body:  body,
		},
		Tokens: tokens,
	}

	response, err := client.SendMulticast(ctx, message)
	if err != nil {
		return err
	}

	log.Printf("Successfully sent %d messages", response.SuccessCount)
	return nil
}

func SendToTopic(app *firebase.App, topic string, title string, body string) error {
	ctx := context.Background()
	client, err := app.Messaging(ctx)
	if err != nil {
		return err
	}

	message := &messaging.Message{
		Notification: &messaging.Notification{
			Title: title,
			Body:  body,
		},
		Topic: topic,
	}

	response, err := client.Send(ctx, message)
	if err != nil {
		return err
	}

	log.Printf("Successfully sent message to topic %s: %v", topic, response)
	return nil
}

func SubscribeToTopic(app *firebase.App, tokens []string, topic string) error {
	ctx := context.Background()
	client, err := app.Messaging(ctx)
	if err != nil {
		return err
	}

	response, err := client.SubscribeToTopic(ctx, tokens, topic)
	if err != nil {
		return err
	}

	log.Printf("Successfully subscribed to topic %s: %d successes, %d failures", topic, response.SuccessCount, response.FailureCount)
	return nil
}
